@import url(./components/button.css);
@import url(./components/card.css);
@import url(./components/header.css);
@import url(./components/navigation.css);
@import url(./components/global.css);
@import url(./components/form.css);

:root {
  --primary-colour: #222831;
  --secondary-colour: #31363f;
  --ternary-colour: #76abae;
  --detail-colour: #eeeeee;
  --border-colour: #ffa500;
  --border-radius: 10px;
}
* {
  background-color: var(--primary-colour);
  box-sizing: content-box;
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 430px) {
  .icon {
    width: 2em;
    height: 2em;
  }
  .card-button__pic {
    width: 2em;
    height: 2em;
  }

  .card__question {
    font-size: 14px;
  }

  .card__answer {
    font-size: 13px;
  }
  .card__hashtag {
    font-size: 10px;
  }

  .nav-icon {
    width: 2em;
    height: 2em;
  }
}
