:root {
  --primary-colour: #222831;
  --secondary-colour: #31363f;
  --ternary-colour: #76abae;
  --detail-colour: #eeeeee;
  --border-colour: #ffa500;
  --border-radius: 10px;
}
* {
  background-color: var(--primary-colour);
  box-sizing: content-box;
}
