.icon {
  position: static;
  width: 2em;
  height: 2em;
  padding: 0.25em;
  background-color: rgba(0, 0, 0, 0);
  color: green;
}

.nav-button {
  position: relative;
  padding: 2px;
  padding-bottom: 1px;
  width: auto;
  height: auto;
  cursor: pointer;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--ternary-colour);
}
