nav {
  position: fixed;
  bottom: 1em;
  left: 3%;
  padding: 1%;
  margin: 0;
  height: 5em;
  width: 2%;
  gap: 10px;
  display: flex;
  align-content: center;
  flex-direction: column;
  border-radius: var(--border-radius);
  background-color: none;
  align-items: center;
  justify-content: center;
}
